fastapi==0.136.1
docker==7.1.0
wappalyzer==2.0.0
redis==7.4.0
sslyze==6.3.1
loguru==0.7.3
celery==5.6.3
tz==1.0a1
SQLAlchemy == 2.0.48
SQLAlchemy-Utils == 0.42.1
psycopg2-binary == 2.9.12
psycopg==3.3.4
psycopg-binary

# requirements specific dependencies
mitmproxy==12.2.1
typing-extensions==4.14.0

# should be up to date
wapiti3==3.2.10
pydantic==2.11.10
zaproxy==0.5.0
search_vulns==1.0.9